mat-button-toggle {
    font-family: Roboto,"BNazanin", sans-serif;
    font-weight: bold;
    color: rgb(54, 51, 51);
}

.loginbut:hover{
    background-color: #c2a0ff;
    color: black;
}

.loginbut{
    color: rgb(54, 51, 51) !important; 
    font-family: Roboto,"BNazanin", sans-serif;
    font-weight: bold;
}

.nav-link:hover{
    color: #7340d2;
}