<div dir="rtl" class="position-absolute top-50 start-50 translate-middle" style="width: 60%;">

  <mat-card appearance="outlined">
    @if(IsEdit==false){
      <mat-card-header style="font-size: 25px; font-weight: bold;">
        افزودن آگهی جدید
      </mat-card-header>
    }
    @if(IsEdit==true){
      <mat-card-header style="font-size: 25px; font-weight: bold;">
        ویرایش آگهی 
      </mat-card-header>
    }
    <br>
      <mat-divider></mat-divider><br>
      <mat-card-content>
          <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label class="label">عنوان شغلی</mat-label>
                    <input matInput [(ngModel)]="model.jobName" value="model.jobName" name="jobName" id="jobName"/>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>دسته بندی</mat-label>
                    <mat-select [(value)]="model.advertismentCatId"  [(ngModel)]="model.advertismentCatId" name="AdvertismentCatId" id="AdvertismentCatId">
                      @for (cat of cats; track cat) {
                        <mat-option [value]="cat.id">{{cat.name}}</mat-option>
                      }
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>شهر</mat-label>
                    <mat-select [(value)]="model.cityId" [(ngModel)]="model.cityId" name="CityId" id="CityId">
                      @for (city of cities; track city) {
                        <mat-option [value]="city.id">{{city.name}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="label">جنسیت</label>
                  <mat-radio-group aria-label="Select an option" [(ngModel)]="StrGende" [value]="StrGende" name="gender" id="gender">
                      <mat-radio-button value="1">خانم</mat-radio-button>
                      <mat-radio-button value="2">آقا</mat-radio-button>
                      <mat-radio-button value="0">آقا / خانم</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label class="label">وضعیت سربازی</mat-label>
                    <input matInput [(ngModel)]="model.militaryStatus" value="model.militaryStatus" name="militaryStatus" id="militaryStatus"/>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label class="label">میزان حقوق</mat-label>
                    <input matInput [(ngModel)]="model.rights" value="model.rights" name="rights" id="rights"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label class="label">حداقل سابقه (سال)</mat-label>
                    <input type="number" matInput [(ngModel)]="model.minHistory" value="model.minHistory" name="MinHistory" id="MinHistory"/>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label class="label">مدرک تحصیلی</mat-label>
                    <input matInput [(ngModel)]="model.minimumEducationDegree" value="model.minimumEducationDegree" name="MinimumEducationDegree" id="MinimumEducationDegree"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>توضیحات</mat-label>
                  <textarea matInput [(ngModel)]="model.desc" value="model.desc" name="Desc" id="Desc"></textarea>
                </mat-form-field>
              </div>
               <div class="row">
                  <a class="btn btn-outline-primary btn-lg" (click)="Insert()" role="button"   style="font-size: 40;font-weight: bold;background-color: #713faf; color: white;">ثبت</a>
                  <a class="btn btn-outline-primary btn-lg" (click)="onNoClick()" role="button" style="margin-top: 5px;">بستن</a>
               </div>
           </form>
      </mat-card-content>
  </mat-card>
 

</div>