/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(219, 227, 234);
    direction: rtl;
}
html, body { height: 100%; }

@font-face {
    font-family: 'BNazanin';
    src: url(assets/fonts/BNazanin.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body { margin: 0; font-family: Roboto, "BNazanin", sans-serif; font-size: 20px;}
input , a{
    font-family: Roboto,"BNazanin", sans-serif;
}
.label{
    font-family: Roboto,"BNazanin", sans-serif;
}

button {
    font-size: 15px;
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6{
    font-family: Roboto,"BNazanin", sans-serif;
}
a{
    text-decoration: none;
}

li{
    font-weight: bold;
    margin-right:50px;
}