<h6 mat-dialog-title dir="rtl">ورود | ثبت نام</h6>
<mat-divider></mat-divider>
<mat-dialog-content dir="rtl">
  <div class="row">
    <mat-form-field>
      <mat-label class="label">نام کاربری</mat-label>
      <input matInput [(ngModel)]="user.UserName" value="user.UserName" name="UserName" id="UserName"/>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label class="label">رمز عبور</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="pass" value="pass" name="Password" id="Password"/>
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="row">
    <button mat-button (click)="Login()" cdkFocusInitial  style="font-size: 40;font-weight: bold;background-color: #713faf; color: white;">ورود</button>
    <button mat-button (click)="onNoClick()" cdkFocusInitial  >بستن</button>
  </div>
  <div class="row">
    <a href="Register">تا به حال ثبت نام نکرده اید ؟</a>
  </div>
  <div class="row">
    <a href="">فراموشی رمز عبور</a>
  </div>
</mat-dialog-content>
<!-- <mat-dialog-actions>
 
</mat-dialog-actions> -->